<main>
  <div class = "container m-5">
    <div class = "row justify-content-center">
      <h1 class = "m-3">About</h1>
    </div>

    <div class = "row justify-content-center">
      <p　>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しています。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>
    
    <!--ここに画像挿入する。-->
    
  </div>
</main>