<main>
  <div class = "container">
    <div class = "row">
      <h5>注文確認画面</h5>
    </div>
    
    <div class = "row">
      <div class = "col-7">
        <table>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
        
          <tbody>
            <tr>
              <% @cart_items.each do |cart_item| %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <%end%>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class = "col-4">
        <table>
          <tbody>
            <tr>
              <td>送料</td>
              <td></td>
            </tr>
            <tr>
              <td>商品合計</td>
              <td></td>
            </tr>
            <tr>
              <td>請求金額</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class = "row">
      <p>支払方法　<spa></spa></p>
    </div>
    
    <div class = "row">
      <p>お届け先　<span></span></p>
    </div>
    
    <div class = "row text-center">
      <!--ボタン記述-->
    </div>
    
  </div>
</main>